.tileComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(199, 172, 17);
    font-size: 35px;
    text-shadow: 0px 0px 1px black;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;

    &.red{
        background: linear-gradient(30deg, rgb(255, 43, 43) , rgb(255, 97, 97));
    }
    &.white{
        background: white;
    }
}